* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #CAD3C8;
    margin: 20px auto;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 30px;
    color: #182C61;
}
.input {
    width: 60%;
    display: block;
}
label{
    width: auto;
    display: inline-block;
    color: #182C61;
    font-weight: 600;
    font-size: 16px;
}
input {
    width: 40%;
    display: inline-block;
    margin: 10px;
}
input,select {
    height: 40px;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #182C61;
    background-color: #fff;
    border: 1px solid #2C3A47;
    border-radius: 8px;
}
input:focus {
    background-color: #CAD3C8;
}
section {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    background-color: #25CCF7;
    border: 2px solid #182C61;
}
section:nth-child(odd) {
    background-color: #1B9CFC;
}
.btn {
    background-color: #3B3B98;
    border: 1px solid #182C61;
    color: #CAD3C8;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px;
    transition: background-color .3s, color .3s;
}
.btn:hover {
    background-color: transparent;
    color: #182C61;
}

@media only screen and (max-width: 600px){
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    span {
        font-size: 14px;
    }
    label,input {
        display: block;
        width: 90%;
        margin: 10px auto;
    }
}